* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.ball-text {
  position: fixed;
  z-index: 2;
  color: white;
  font-size: 5rem;
  right: 10%;
  bottom: 20%;
}

.details {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
